.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.body-Color {
    background-color: #F7F0D6;;
}

.main {
    width: 600px;
    white-space: nowrap;
    margin-top: 50px;
    flex-direction: column;
}

.start-link {
    display: flex;
    margin-top: 30px;
    background-color: F45744;
    color: #F7F0D6;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
}

.bc-lightgray {
    background-color: 554F0E;
}

.p-20 {
    padding: 20px;
}

.table-header {
    white-space: nowrap;
}

.color-Title {
    color:767000;
}

.h1 {
    font-size: 48px;
}

.border-radius-24 {
    border-radius: 20px;
}